http {
    server {
        # when going to 'http://localhost', serve the index.html in data/www/
        location / {
            root /data/www;
        }
        location /images/ {
            # autoindex creates a listing of the directory and is by default off
            # when going to 'http://localhost/images/' show listing of files in /data/images/
            autoindex on;

            # when going to 'http://localhost/images/FILE.jpg' serve /data/images/FILE.jpg
            root /data;
        }
    }
}

events {
}
