http {
    server {
        # when going to 'http://localhost', serve the index.html in data/www/
        location / {
            root /data/www;
        }
        # return 501 (not implemented) on 'http://localhost/hi/'
        # note that 'http://localhost/hi' (without trailing /) returns 404
        # this generates an automatic failure page
        location /hi/ {
            return 501;
        }
        # return 412 (precondition failed) on 'http://localhost/bye/'
        # this generates an automatic failure page
        location /bye/ {
            return 412;
        }
        # return 200 without returning an error page (bc this is not an error)
        location /200/ {
            return 200;
        }
    }
}

events {
}
