http {

    upstream app1backend {
        server 127.0.0.1:2222;
        server 127.0.0.1:3333;

    }
    upstream app2backend {
        # localhost/app2 makes you go to either 127.0.0.1:4444 or 127.0.0.1:5555
        # localhost/app0/admin make you go to either 127.0.0.1:{4444,5555}/admin/index.html
        server 127.0.0.1:4444;
        server 127.0.0.1:5555;

    }

    server {
        listen 80;
        # localhost/app1 makes you go to upstream app1backend
        location /app1 {
            proxy_pass http://app1backend/;
        }

        # localhost/app2 makes you go to upstream app2backend
        location /app2 {
            proxy_pass http://app2backend/;
        }

        # localhost/admin will return 403 Forbidden
        location /admin {
            return 403;
        }
    }
}


events {
}
